{% extends '@admin/content/location_view.html.twig' %}

{% block title %}{{ content.name }}{% endblock %}

{% block header %}
    {% set hide_bookmarks = hide_bookmarks|default(false) %}
    {% embed '@ibexadesign/ui/page_title.html.twig' with {
        title: ibexa_content_name(content),
    } %}
        {% block top_side %}
            {% if hide_bookmarks is same as false %}
                {% if location is defined and location_is_bookmarked is defined %}
                    {% include '@ibexadesign/account/bookmarks/toggle_switch.html.twig' with {
                        location: location,
                        location_is_bookmarked: location_is_bookmarked
                    } %}
                {% endif %}
            {% endif %}
        {% endblock %}
        {% block bottom %}
            <span class="ibexa-icon-tag">
                {% set url = path('ibexa.content_type.view', { 'contentTypeId': content_type.id, 'contentTypeGroupId': content_type.contentTypeGroups|first.id }) %}
                <a href="{{ url }}">
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--{{ content_type.identifier }}">
                        <use xlink:href="{{ ibexa_content_type_icon(content_type.identifier) }}"></use>
                    </svg>
                </a>
                <a href="{{ url }}">{{ content_type.name }}</a>

                {% set array = [] %}
                {% for language in content.versionInfo.languages %}
                    {% set array = array|merge([language.languageCode|ngadmin_language.name]) %}
                {% endfor %}
            </span>
            {{ array|join(', ') }}
        {% endblock %}
    {% endembed %}

    {% if location.hidden or location.invisible %}
        <div class="pb-4">
            {% include '@ibexadesign/ui/component/alert/alert.html.twig' with {
                type: 'info',
                title: 'content.hidden.message'|trans()|desc('This Content item or its Location is hidden.'),
                icon_path: ibexa_icon_path('hide'),
                class: 'mb-4',
            } only %}
        </div>
    {% endif %}
    {{ ibexa_render_component_group(
        'location-view-content-alerts',
        {
            'versionInfo': content.versionInfo,
            'location': location,
        }
    ) }}
{% endblock %}
